#disable_html_escaping()
#if ($value)
    <div class="shorten" id="${customField.id}-field">
        #foreach ($singleValue in $value)
            <a class="user-hover cf-participant" rel="$textutils.htmlEncode(${singleValue.name})" title="Find all issues $textutils.htmlEncode(${singleValue.displayName}) participated in" href="${requestContext.baseUrl}/secure/IssueNavigator.jspa?reset=true&${customField.id}=$urlcodec.encode(${singleValue.name})">$textutils.htmlEncode($singleValue.displayName)</a>#commaonly ($value)
        #end
    </div>
#end